<h1>Cat Show Page</h1>
<h2><%= @cat.name %></h2>
<p><%= @cat.breed %></p>
<p><%= @cat.age %></p>
<img src="<%= @cat.img_url %>" alt="<%= @cat.name%>">

<%= button_to "DELETE", cat_path(@cat), method: :delete%>
<%= button_to "EDIT", { :action => "edit" }, :method => :get %>
